{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Player {% endblock %}</h1>
    <div class='play'>
        <form method="post">
            <p>
                <label for="name">Name: </label>
                <input type="text" name="name"
                       placeholder="First and Last Name">
                </input>
            </p>

            <p>
                <label for="played">Number of Games Played: </label>
                <input type="number" name="played"
                       placeholder="Enter an Integer">
                </input>
            </p>

            <p>
                <label for="won">Number of Games Won: </label>
                <input type="number" name="won"
                       placeholder="Enter an Integer">
                </input>
            </p>

            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
    </div>
{% endblock %}
