{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Monopoly Games {% endblock %}</h1>
    {% for play in played %}
        <div class='play'>
            <p>User ID: {{ play[0] }}</p>
            <p>Game ID: {{ play[1] }}</p>
            <p>Money: ${{ play[2] }}</p>
            <p>Streets Owned: {{ play[3] }}</p>
            <p>Railroads Owned:  {{ play[4] }}</p>
            <p>Utilities Owned: {{ play[5] }}</p>
            <p>Number of Properties: {{ play[6] }}</p>
        </div>
    {% endfor %}
{% endblock %}
