{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Monopoly Players {% endblock %}</h1>
    <div class="topnav">
        <form method="post">
            <p>
                <label for="Search">Search: </label>
                <input type="text" name="Search" placeholder="Search for userid ... ">
                <button type="find">Find</button>
            </input>
            </p>
        </form>
    </div>
    <div class="table">
        {% for player in user %}
            <div class='play'>
                <b><p>User ID: {{ player[0] }}</p></b>
                <p>Name: {{ player[1] }}</p>
                <p>Games Played: {{ player[2] }}</p>
                <p>Games Won: {{ player[3] }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
